<!DOCTYPE html>
<html lang=en-US class=no-js>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%=judul %></title>
    <link rel=stylesheet href='/blog_asset/plugins/goodlayers-core/plugins/combine/style.css' type="text/css" media="all">
    <link rel=stylesheet href='/blog_asset/plugins/goodlayers-core/include/css/page-builder.css' type="text/css" media="all">
    <link rel=stylesheet href='/blog_asset/plugins/revslider/public/assets/css/settings23da.css' type=text/css media=all>
    <link rel=stylesheet href='/blog_asset/plugins/zilla-likes/styles/zilla-likes.css' type=text/css media=all>
    <link rel=stylesheet href='/blog_asset/css/style-core.css' type=text/css media=all>
    <link rel=stylesheet href='/blog_asset/css/akea-style-custom.css' type=text/css media=all>


    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C600%2C700%2C800' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Montserrat' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=PT+Serif' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Open+Sans' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPT+Serif%3Aregular%2Citalic%2C700%2C700italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=latin%2Clatin-ext%2Cdevanagari%2Ccyrillic-ext%2Cvietnamese%2Ccyrillic%2Cgreek-ext%2Cgreek' type=text/css media=all>

    

</head>


<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js akea-body akea-body-front akea-full  akea-with-sticky-navigation  akea-blockquote-style-1 gdlr-core-link-to-lightbox" data-home-url=index.html>
<div class=akea-mobile-header-wrap>
    <div class="akea-mobile-header akea-header-background akea-style-slide akea-sticky-mobile-navigation " id=akea-mobile-header>
        <div class="akea-mobile-header-container akea-container clearfix">
            <div class="akea-logo  akea-item-pdlr">
                <div class=akea-logo-inner>
                    <a class href="index.html"><img src="/blog_asset/images/logo.png" alt width="140" height="33" title="logo-2"></a>
                </div>
            </div>
            <div class=akea-mobile-menu-right>
                <div class=akea-main-menu-search id=akea-mobile-top-search><i class="fa fa-search"></i></div>
                <div class=akea-top-search-wrap>
                    <div class=akea-top-search-close></div>
                    <div class=akea-top-search-row>
                        <div class=akea-top-search-cell>
                            <form role=search method=get class=search-form action=#>
                            <input type=text class="search-field akea-title-font" placeholder=Search... value name=s>
                            <div class=akea-top-search-submit><i class="fa fa-search"></i></div>
                            <input type=submit class=search-submit value=Search>
                            <div class=akea-top-search-close><i class=icon_close></i></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="akea-overlay-menu akea-mobile-menu" id=akea-mobile-menu><a class="akea-overlay-menu-icon akea-mobile-menu-button akea-mobile-button-hamburger" href=#><span></span></a>
                    <div class="akea-overlay-menu-content akea-navigation-font">
                        <div class=akea-overlay-menu-close></div>
                        <div class=akea-overlay-menu-row>
                            <div class=akea-overlay-menu-cell>
                                <ul id=menu-main-navigation class=menu>
                                    <li class="menu-item"><a href="/">Home</a></li>
                                    <li class="menu-item menu-item-has-children"><a href=#>Katgegori</a>
                                        <ul class=sub-menu>
                                            <li class="menu-item"><a href=contact.html>Contact</a></li>
                                            <li class="menu-item"><a href=author.html>Author</a></li>
                                            <li class="menu-item"><a href=gallery.html>Gallery</a></li>
                                            <li class="menu-item"><a href=price-table.html>Price Table</a></li>
                                            <li class="menu-item"><a href=maintenance.html>Maintenance</a></li>
                                            <li class="menu-item"><a href=coming-soon.html>Coming Soon</a></li>
                                            <li class="menu-item"><a href=404.html>404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href=about-us.html>About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="akea-body-outer-wrapper ">
    <div class="akea-body-wrapper clearfix  akea-with-frame">
        <header class="akea-header-wrap akea-header-style-plain  akea-style-splitted-menu akea-sticky-navigation akea-style-slide" data-navigation-offset=75px>
            <div class=akea-header-background></div>
            <div class="akea-header-container  akea-container">
                <div class="akea-header-container-inner clearfix">
                    <div class="akea-navigation akea-item-pdlr clearfix">
                        <div class=akea-main-menu id=akea-main-menu>
                            <ul id=menu-main-navigation-1 class=sf-menu>
                                <li class="menu-item akea-normal-menu"><a href="/">Home</a></li>
                                <li class="menu-item menu-item-has-children akea-normal-menu"><a href="javascript:void(0)" class=sf-with-ul-pre>Kategori</a>
                                    <ul class=sub-menu>
                                        <li class="menu-item" data-size=60><a href="category/info-edukasi">Info & Edukasi</a></li>
                                    </ul>
                                </li>
                                
                                <li class="akea-center-nav-menu-item">
                                    <div class="akea-above-logo">
                                        <a href="index.html"><img src="/blog_asset/images/logo.png" alt="" width="348" height="252" title="logo-1"></a><br/>
                                    </div>
                                    <div class="akea-logo akea-item-pdlr" style="margin-top: -40px;">
                                        <div class="akea-logo-inner">
                                            <a class="" href="index.html"><img src="/blog_asset/images/logo-bot.png" alt="" width="140" height="33" title="logo-2"></a>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="menu-item akea-normal-menu"><a href="/contribution">Kontribusi</a></li>
                                <li class="menu-item akea-normal-menu"><a href="/about">About</a></li>
                            </ul>
                            <div class=akea-navigation-slide-bar id=akea-navigation-slide-bar></div>
                        </div>
                        <div class="akea-main-menu-right-wrap clearfix  akea-item-mglr akea-navigation-top">
                            <div class="akea-overlay-menu akea-main-menu-right" id=akea-right-menu><a class="akea-overlay-menu-icon akea-right-menu-button akea-top-menu-button akea-mobile-button-hamburger" href=#><span></span></a>
                                <div class="akea-overlay-menu-content akea-navigation-font">
                                    <div class=akea-overlay-menu-close></div>
                                    <div class=akea-overlay-menu-row>
                                        <div class=akea-overlay-menu-cell>
                                            <ul id=menu-main-navigation-2 class=menu>
                                                <li class="menu-item"><a href="/">About</a></li>
                                                <li class="menu-item menu-item-has-children"><a href="javascript:void(0)">Kategori</a>
                                                    <ul class=sub-menu>
                                                        <li class="menu-item"><a href="/contribution">Info & Edukasi</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item"><a href="/contribution">Kontribusi</a></li>
                                                <li class="menu-item"><a href="/about">About</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=akea-main-menu-search id=akea-top-search><i class="fa fa-search"></i></div>
                            <div class=akea-top-search-wrap>
                                <div class=akea-top-search-close></div>
                                <div class=akea-top-search-row>
                                    <div class=akea-top-search-cell>
                                        <form role=search method=get class=search-form action=#>
                                        <input type=text class="search-field akea-title-font" placeholder=Search... value name=s>
                                        <div class=akea-top-search-submit><i class="fa fa-search"></i></div>
                                        <input type=submit class=search-submit value=Search>
                                        <div class=akea-top-search-close><i class=icon_close></i></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="akea-main-menu-left-wrap akea-main-menu-left-social clearfix akea-item-pdlr akea-navigation-top">
                            <a href=# target=_blank class=akea-top-bar-social-icon title=facebook>
                                <i class="fa fa-facebook" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=google-plus>
                                <i class="fa fa-google-plus" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=pinterest>
                                <i class="fa fa-pinterest-p" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=twitter>
                                <i class="fa fa-twitter" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=vimeo>
                                <i class="fa fa-vimeo" ></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </header>
        <div class=akea-page-wrapper id=akea-page-wrapper>
            <div class=gdlr-core-page-builder-body>
                <div class="gdlr-core-pbf-wrapper " id="div_2207_0" id=gdlr-core-wrapper-1>
                    <div class=gdlr-core-pbf-background-wrap></div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class=gdlr-core-pbf-element>
                                <div class="gdlr-core-post-slider-item gdlr-core-item-pdb gdlr-core-item-pdlr clearfix " id="div_2207_1">
                                    <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type=slider data-effect=default data-nav=navigation data-disable-autoslide=1>
                                        <ul class=slides>
                                            <li>
                                                <div class=gdlr-core-post-slider-slide>
                                                    <div class="gdlr-core-post-slider-image gdlr-core-media-image">
                                                        <a href=#><img src="https://max-themes.net/demos/akea/upload/pexels-photo-736166-1500x635.jpg" alt width=1500 height=635 title=pexels-photo-736166><span class=gdlr-core-post-slider-overlay id="span_2207_0"></span></a>
                                                    </div>
                                                    <div class="gdlr-core-post-slider-caption gdlr-core-center-align">
                                                        <h3 class="gdlr-core-post-slider-title" id="h3_2207_0"><a href="javascript:void(0)" id="capTitle">-</a></h3>
                                                        <div class=gdlr-core-post-slider-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class=gdlr-core-blog-info-sep >/</span><a href=#>November 6, 2019</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class=gdlr-core-blog-info-sep >/</span><a href=# title="Posts by Paul Newman" rel=author>Paul Newman</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-sidebar-wrapper ">
                    <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                        <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" id="div_2207_2">
                            <div class=gdlr-core-pbf-sidebar-content-inner data-skin="Blog List">
                                <div class=gdlr-core-pbf-element>
                                    <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full">
                                        <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout=fitrows>
                                            <div id="app">
                                                Memuat ...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  akea-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" data-skin="Blog List" id="div_2207_9">
                            <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                <div id=text-4 class="widget widget_text akea-widget">
                                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>About Rumah Ada</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                    <div class=textwidget>
                                        <p><img class="alignnone size-full wp-image-6650" src=/blog_asset/upload/about-image.png alt width=120>
                                            <br> ADA website, Indonesians and the Cardano community can view reliable information, have discussions on forums,
                                             and can write articles on our ADA website.</p> 
                                            <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-transparent gdlr-core-button-with-border" href=# target=_blank id="a_2207_10" rel="noopener noreferrer"><span class=gdlr-core-content >more about me</span><i class="gdlr-core-pos-right arrow_right"  ></i></a></div>
                                </div>
                                <div id=text-7 class="widget widget_text akea-widget">
                                    <div class=textwidget>
                                        <div class="gdlr-core-widget-box-shortcode  gdlr-core-center-align" id="div_2207_10">
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top" id="div_2207_11">
                                                <div class="gdlr-core-title-item-title-wrap ">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_2207_9">Follow Us<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                            </div>
                                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_12"><a href=# target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_11" rel="noopener noreferrer"><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_12" rel="noopener noreferrer"><i class="fa fa-pinterest-p" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=skype id="a_2207_13" rel="noopener noreferrer"><i class="fa fa-skype" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_14" rel="noopener noreferrer"><i class="fa fa-twitter" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_15" rel="noopener noreferrer"><i class="fa fa-instagram" ></i></a></div>
                                            <br> <span class=gdlr-core-space-shortcode id="span_2207_3"></span>
                                            <br>
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top" id="div_2207_13">
                                                <div class="gdlr-core-title-item-title-wrap ">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_2207_10">Newsletter<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                            </div> Fill your email below to subscribe to my newsletter<span class=gdlr-core-space-shortcode id="span_2207_4"></span>
                                            <br>
                                            <div class="tnp tnp-subscription-minimal ">
                                                <form action="#" method=post>
                                                    <input class=tnp-email type=email required name=ne value placeholder=Email>
                                                    <input class=tnp-submit type=submit value=Subscribe>
                                                </form>
                                            </div> <span class=gdlr-core-space-shortcode id="span_2207_5"></span></div>
                                    </div>
                                </div>
                                <div id=gdlr-core-recent-post-widget-2 class="widget widget_gdlr-core-recent-post-widget akea-widget">
                                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>Popular Post</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                    <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-1">
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src=/blog_asset/upload/qingbao-meng-330658-unsplash-150x150.jpg alt width=150 height=150 title=qingbao-meng-330658-unsplash></div>
                                            <div class=gdlr-core-recent-post-widget-content>
                                                <div class=gdlr-core-recent-post-widget-title><a href=#>The Most Beautiful Green Field on Earth</a></div>
                                                <div class=gdlr-core-recent-post-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><img alt src='/blog_asset/upload/avatar.jpeg'  class='avatar avatar-50 photo' height=50 width=50><a href=# title="Posts by Paul Newman" rel=author>Paul Newman</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a href=#>September 5, 2019</a></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id=text-5 class="widget widget_text akea-widget">
                                    
                                </div>
                                <div id=gdlr-core-category-background-widget-2 class="widget widget_gdlr-core-category-background-widget akea-widget">
                                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>Category</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                    <ul class=gdlr-core-category-background-widget>
                                        <li class=gdlr-core-with-bg id="li_2207_0"><a href=#><span class=gdlr-core-category-background-widget-content ><span class=gdlr-core-category-background-widget-title >Fashion</span><span class=gdlr-core-category-background-widget-count >5</span></span></a></li>
                                    </ul>
                                </div>
                                <div id=gdlr-core-recent-post-widget-3 class="widget widget_gdlr-core-recent-post-widget akea-widget">
                                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>Recent Post</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                    <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-full">
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image">
                                                <a class="gdlr-core-lightgallery gdlr-core-js " href=/blog_asset/upload/post-vr.jpg><img src=/blog_asset/upload/post-vr-1000x486.jpg alt width=1000 height=486 title=post-vr></a><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category"><a href=# rel=tag>Trending</a></span></div>
                                            <div class=gdlr-core-recent-post-widget-content>
                                                <div class="gdlr-core-recent-post-widget-title gdlr-core-title-font"><a href=#>Check Out The Most Awesome VR Headset in 2020</a></div>
                                                <div class=gdlr-core-recent-post-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><img alt src='/blog_asset/upload/avatar.jpeg'  class='avatar avatar-50 photo' height=50 width=50><a href=# title="Posts by Jane Smith" rel=author>Jane Smith</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a href=#>November 7, 2019</a></span></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-wrapper " id="div_2207_14">
                    <div class=gdlr-core-pbf-background-wrap></div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="akea-footer-wrapper ">
                <div class="akea-footer-container akea-container clearfix">
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=text-2 class="widget widget_text akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>ADA Indonesia Community</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            <div class=textwidget>
                                <p>Medan
                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_6"></span>
                                    <br> phone
                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_7"></span>
                                    <br> <a id="a_2207_30" href=mailto:hi@ada-indonesia.id>hi@ada-indonesia.id</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=gdlr-core-custom-menu-widget-2 class="widget widget_gdlr-core-custom-menu-widget akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Kategori</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            <div class=menu-category-container>
                                <ul id=menu-category class="gdlr-core-custom-menu-widget gdlr-core-menu-style-half">
                                    <li class="menu-item"><a href="#">Informasi</a></li>
                                    <li class="menu-item"><a href="#">Edukasi</a></li>
                                    <li class="menu-item"><a href="#">Informasi Pasar Crypto</a></li>
                                    <li class="menu-item"><a href="#">Event</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=text-3 class="widget widget_text akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Follow Us</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            
                            <div class=textwidget>
                                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_16">
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_31" rel="noopener noreferrer">
                                        <i class="fa fa-facebook" ></i>
                                    </a>
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_32" rel="noopener noreferrer">
                                        <i class="fa fa-pinterest-p" ></i>
                                    </a>
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=skype id="a_2207_33" rel="noopener noreferrer">
                                        <i class="fa fa-skype" ></i>
                                    </a>
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_34" rel="noopener noreferrer">
                                        <i class="fa fa-twitter" ></i>
                                    </a>
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_35" rel="noopener noreferrer">
                                        <i class="fa fa-instagram" ></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=akea-copyright-wrapper>
                <div class="akea-copyright-container akea-container clearfix">
                    <div class="akea-copyright-left akea-item-pdlr">Copyright 2022 - Ada Indonesia, All Right Reserved</div>
                    <div class="akea-copyright-right akea-item-pdlr">
                        Develop With &#128150; Gorga Siagian & Aditia Darma Nst
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div><a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up" ></i></a>
<div class="akea-footer-recent-post-button " id=akea-footer-recent-post-button><i class=icon_plus></i></div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='/blog_asset/js/jquery/jquery-migrate.min.js'></script>
<script src='/blog_asset/plugins/zilla-likes/scripts/zilla-likes.js'></script>
<script src='/blog_asset/plugins/goodlayers-core/plugins/combine/script.js'></script>
<script>
    var slug = "<%=slug %>";
    var gdlr_core_pbf = {
        "admin": "",
        "video": {
            "width": "640",
            "height": "360"
        },
        "ajax_url": "#"
    };
</script>
<script src='/blog_asset/plugins/goodlayers-core/include/js/page-builder.js'></script>
<script src='/blog_asset/js/jquery/ui/effect.min.js'></script>
<script src='/blog_asset/js/script-core.js'></script>

<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
<script type="text/babel" src="/base/js/post.js"></script>

</body>
</html>