<footer>
    <div class="akea-footer-wrapper ">
        <div class="akea-footer-container akea-container clearfix">
            <div class="akea-footer-column akea-item-pdlr akea-column-20">
                <div id=text-2 class="widget widget_text akea-widget">
                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>ADA Indonesia Community</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                    <div class=textwidget>
                        <p>Medan
                            <br> <span class=gdlr-core-space-shortcode id="span_2207_6"></span>
                            <br> phone
                            <br> <span class=gdlr-core-space-shortcode id="span_2207_7"></span>
                            <br> <a id="a_2207_30" href=mailto:hi@ada-indonesia.id>hi@ada-indonesia.id</a></p>
                    </div>
                </div>
            </div>
            <div class="akea-footer-column akea-item-pdlr akea-column-20">
                <div id=gdlr-core-custom-menu-widget-2 class="widget widget_gdlr-core-custom-menu-widget akea-widget">
                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>Kategori</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                    <div class=menu-category-container>
                        <ul id=menu-category class="gdlr-core-custom-menu-widget gdlr-core-menu-style-half">
                            <li class="menu-item"><a href="#">Informasi</a></li>
                            <li class="menu-item"><a href="#">Edukasi</a></li>
                            <li class="menu-item"><a href="#">Informasi Pasar Crypto</a></li>
                            <li class="menu-item"><a href="#">Event</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="akea-footer-column akea-item-pdlr akea-column-20">
                <div id=text-3 class="widget widget_text akea-widget">
                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>Follow Us</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                    
                    <div class=textwidget>
                        <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_16">
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_31" rel="noopener noreferrer">
                                <i class="fa fa-facebook" ></i>
                            </a>
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_32" rel="noopener noreferrer">
                                <i class="fa fa-pinterest-p" ></i>
                            </a>
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=skype id="a_2207_33" rel="noopener noreferrer">
                                <i class="fa fa-skype" ></i>
                            </a>
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_34" rel="noopener noreferrer">
                                <i class="fa fa-twitter" ></i>
                            </a>
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_35" rel="noopener noreferrer">
                                <i class="fa fa-instagram" ></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=akea-copyright-wrapper>
        <div class="akea-copyright-container akea-container clearfix">
            <div class="akea-copyright-left akea-item-pdlr">Copyright 2022 - Ada Indonesia, All Right Reserved</div>
            <div class="akea-copyright-right akea-item-pdlr">
                Develop With &#128150; Gorga Siagian & Aditia Darma Nst
            </div>
        </div>
    </div>
</footer>
</div>
</div><a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up" ></i></a>
<div class="akea-footer-recent-post-button " id=akea-footer-recent-post-button><i class=icon_plus></i></div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='/blog_asset/js/jquery/jquery-migrate.min.js'></script>
<script src='/blog_asset/plugins/zilla-likes/scripts/zilla-likes.js'></script>
<script>
var gdlr_core_pbf = {
"admin": "",
"video": {
    "width": "640",
    "height": "360"
},
"ajax_url": "#"
};
var apiserver = "<%=api %>";
</script>
<script src='/blog_asset/plugins/goodlayers-core/include/js/page-builder.js'></script>
<script src='/blog_asset/js/jquery/ui/effect.min.js'></script>
<script src='/blog_asset/js/script-core.js'></script>

<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
<script type="text/babel" src="/base/js/home.js"></script>

</body>
</html>