<!DOCTYPE html>
<html lang=en-US class=no-js>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%=judul %></title>
    <link rel=stylesheet href='/blog_asset/plugins/goodlayers-core/plugins/combine/style.css' type="text/css" media="all">
    <link rel=stylesheet href='/blog_asset/plugins/goodlayers-core/include/css/page-builder.css' type="text/css" media="all">
    <link rel=stylesheet href='/blog_asset/plugins/revslider/public/assets/css/settings23da.css' type=text/css media=all>
    <link rel=stylesheet href='/blog_asset/plugins/zilla-likes/styles/zilla-likes.css' type=text/css media=all>
    <link rel=stylesheet href='/blog_asset/css/style-core.css' type=text/css media=all>
    <link rel=stylesheet href='/blog_asset/css/akea-style-custom.css' type=text/css media=all>

    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C600%2C700%2C800' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Montserrat' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=PT+Serif' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Open+Sans' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPT+Serif%3Aregular%2Citalic%2C700%2C700italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=latin%2Clatin-ext%2Cdevanagari%2Ccyrillic-ext%2Cvietnamese%2Ccyrillic%2Cgreek-ext%2Cgreek' type=text/css media=all>


</head>


<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js akea-body akea-body-front akea-full  akea-with-sticky-navigation  akea-blockquote-style-1 gdlr-core-link-to-lightbox" data-home-url=/>
<div class=akea-mobile-header-wrap>
    <div class="akea-mobile-header akea-header-background akea-style-slide akea-sticky-mobile-navigation " id=akea-mobile-header>
        <div class="akea-mobile-header-container akea-container clearfix">
            <div class="akea-logo  akea-item-pdlr">
                <div class=akea-logo-inner>
                    <a class href="/"><img src="/blog_asset/images/logo.png" alt width="140" height="33" title="logo-2"></a>
                </div>
            </div>
            <div class=akea-mobile-menu-right>
                <div class=akea-main-menu-search id=akea-mobile-top-search><i class="fa fa-search"></i></div>
                <div class=akea-top-search-wrap>
                    <div class=akea-top-search-close></div>
                    <div class=akea-top-search-row>
                        <div class=akea-top-search-cell>
                            <form role=search method=get class=search-form action=#>
                            <input type=text class="search-field akea-title-font" placeholder=Search... value name=s>
                            <div class=akea-top-search-submit><i class="fa fa-search"></i></div>
                            <input type=submit class=search-submit value=Search>
                            <div class=akea-top-search-close><i class=icon_close></i></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="akea-overlay-menu akea-mobile-menu" id=akea-mobile-menu><a class="akea-overlay-menu-icon akea-mobile-menu-button akea-mobile-button-hamburger" href=#><span></span></a>
                    <div class="akea-overlay-menu-content akea-navigation-font">
                        <div class=akea-overlay-menu-close></div>
                        <div class=akea-overlay-menu-row>
                            <div class=akea-overlay-menu-cell>
                                <ul id=menu-main-navigation class=menu>
                                    <li class="menu-item"><a href="/">Home</a></li>
                                    <li class="menu-item menu-item-has-children"><a href=#>Katgegori</a>
                                        <ul class=sub-menu>
                                            <li class="menu-item"><a href=contact.html>Contact</a></li>
                                            <li class="menu-item"><a href=author.html>Author</a></li>
                                            <li class="menu-item"><a href=gallery.html>Gallery</a></li>
                                            <li class="menu-item"><a href=price-table.html>Price Table</a></li>
                                            <li class="menu-item"><a href=maintenance.html>Maintenance</a></li>
                                            <li class="menu-item"><a href=coming-soon.html>Coming Soon</a></li>
                                            <li class="menu-item"><a href=404.html>404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href=about-us.html>About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>